html {
    height: 100%;
    width: 100%;
}

a:hover{
    font-size: 32px;
}

#about{
    background-color:blueviolet; 
}

#projects{
    background-color: greenyellow;
}

#contact{
    background-color: aquamarine;
}

#skills{
    background-color: brown;
}

ul{
    list-style: none; 
    text-align: center;
}

ul li{
    display: inline;
}

li {
    padding-right: 40px;
}

ul li a{
    text-decoration:none; 
}


body{
    margin:0;
}